@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.bgg{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(110deg,white 50%,orange 50%);
    background-repeat: repeat;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    align-self: center;
}

h1{
    font-family: 'Lobster', cursive;
    display: inline-block;
}

.container {
    margin: 0px 10px;
}

.logo{
    float: left;
    margin-left: 50px;
}

.title{
    /*padding-top: 35px;*/
    color: orange;
    font-size: xx-large;
}

li.active a {
    text-decoration: underline orange 10px;
    color: black;
}

li a {
    text-decoration: none;
    color: black;
}

.black{
    color: black;
}

.orange{
    color: orange;
}

.yellow {
    color: yellow;
}

.gray {
    color: gray;
}

.lgo{
    display: inline;
}

.right{
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 50px;
}

ul.nav-list li{
    list-style: none;
    display: inline-block;
}

.nav-item{
    margin: 0px 20px;
    font-size: x-large;
}

.stext {
    padding: 70px 0px;
    font-size: 20px;
    margin-left: 50px;
}

.dine {
    float: right;
    height: 500px;
    margin-right: 240px;
}

.sh {
    margin: 0px;
}

.shp {
    margin: 30px 0px;
}

.order-btn {
    border: 1px solid orange;
    background-color: orange;
    color: white;
    border-radius: 30px 30px 0px;
    font-size: 30px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 25px;
}

.order-btn:hover {
    cursor: pointer;
}

.section2 {
    background-color: #E1EBE6;
    margin-top: 50px;
    margin-left: 0px;
    padding: 0px;
}

.quality, .fast, .delicious {
    display: inline-block;
    width: 28%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 30px;
}

.quality-icon {
    color: orange;
    font-size: 120px!important;
    height: 120px;
    margin-top: 5px;
}

.fast {
    padding: 80px 0px;
    margin: 120px 30px;
}

.section3 {
    margin-top: 100px;
}

.active {
    text-decoration: underline orange 10px;
}

.s3h {
    text-align: center;
    font-size: 30px;
}

.tile {
    display: inline-block;
    width: 28%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 70px;
    box-shadow: 5px 5px gray;
    margin: 50px 10px;
    padding: 20px;
}

.burger {
    height: 170px;
}

/* ribbon */
/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid orange;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: orange;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }

  .box {
    position: relative;
  }

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  .price {
      float: left;
      display: inline-block;
      margin-left: 50px;
  }

  .scart {
      float: right;
      display: inline-block;
      margin-top: 0px;
      margin-right: 50px;
      background-color: #E1EBE6;
      padding: 18px;
      border: 0px #E1EBE6;
      border-radius: 10px;
  }

  .scart:hover {
      cursor: pointer;
  }

  .wrapper {
      width: 69px;
  }

  .num {
    width: 14%;
    border: none;
    background-color: #E1EBE6;
    font-size: 16px;
  }

  .plusminus {
      color: green;
      border: none;
      font-size: 20px;
  }

  .decker {
      height: 500px;
      float: right;
  }

  .decker1 {
    margin-right: -460px;
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .deckertxt {
    padding-top: 100px;
    padding-bottom: 280px;
    margin-left: 50px;
    font-size: 30px;
  }

  .readmore {
      margin: -441px 120px;
      font-size: 145px;
      padding: 0px;
  }

  .east {
      font-size: 65px!important;
      vertical-align: top;
      margin-top: 118px;
  }

  .east a {
      text-decoration: none;
      color: orange;
  }

  .dot3{
      margin-bottom: 10px;
  }


.section4 {
    background-color: #E1EBE6;
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}

.section5 {
    background-color: orange;
    width: 100%;
    display: inline-block;
    padding-top: 90px;
    padding-bottom: 80px;
}

.mobile {
    float: right;
    margin: 40px;
}

.mobile1 {
    margin-right: 150px;
}

.mobiletxt {
    margin-left: 50px;
    font-size: 30px;
}

.tab {
    width: 30%;
    display: inline-block;
}

.logotab {
    vertical-align: top;
    margin-top: 60px;
}

.subscribetab {
    vertical-align: top;
    margin-top: 40px;
}

.subscribe {
    height: 40px;
}

input.subscribe {
    width: 230px;
}

button.subscribe {
    background-color: orange;
    color: white;
    border: 1px solid orange;
}

.appstore {
    height: 86px;
}

.maplist {
    list-style: none;
}

footer {
    background-color: #E1EBE6;
}

.footer {
    width: 28%;
    display: inline-block;
    margin-left: 50px;
}

.social {
    height: 20px;
    display: inline-block;
    margin: 5px;
}